.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-logo {
  height: 36px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.signup-btn {
  background: var(--primary-color);
  color: rgb(74, 85, 230);
  padding: 6px 12px;
  border-radius: var(--border-radius);
}
